.main-header{

  &__navigation{
    padding: 0px 0px 0px 120px;
    min-height: 60px;

    color: #000000;

    @media screen and (min-width: $mobile-breakpoint){
      float: left;
      padding: 0px 0px 0px 60px;      
    }

  }

  &__logo{
    float: left;
  }

  &__socials{
    float: right;
    margin-top: 18px;
    display: none;

    @media screen and (min-width: $tablet-breakpoint){
      display: block;
    }    
  }

  &__site-heading{

    margin: 0px 0px 20px 0px;

    @media screen and (min-width: $tablet-breakpoint){
      margin: 0px 0px 54px 0px;
    }
  }

  &__greetings-text{
    padding: 0px 0px 0px 0px;

    @media screen and (min-width: $tablet-breakpoint){
      padding: 0px 20% 0px 0px;
    }
  }

  &__greetings-image{

  }

}