.site-navigation{

  padding: 0px 0px 0px 0px;
  color: inherit;

  @media screen and (min-width: $mobile-breakpoint){
    padding: 15px 0px 0px 0px;
      color: inherit;
  }

  &__item{
    display: inline-block;
    padding: 0px 17px 0px 0px;
    color: inherit;

    @media screen and (min-width: $mobile-breakpoint){
      padding: 0px 17px 10px 17px;
    }

    &:first-child{
      padding-left: 0;
    }

    &--main-nav{

      &:hover{
        color: #b2b2b2;
      }
    }

    &--not-ready{
      position: relative;

      &:hover::after{
        opacity: 1;
      }

      &::after{
        content: "СКОРО";
        position: absolute;
        top: 0;

        font-size: 14px;
        line-height: 30px;
        text-transform: uppercase;
        color: #b2b2b2;
        font-weight: 600;

        background: #ffffff;

        opacity: 0;
        transition: all 0.8s;
        z-index: 10;
      }
    }
  }

  &__link{
    display: block;
    
    text-transform: uppercase;
    font-size: 14px;
    line-height: 30px;
    color: inherit;
    font-weight: 600;

    &--is-active{
      color: #000000;

      &:hover{
        color: #000000;      
      }
    }
  }

}