.socials-list{

  text-align: center;

  &__item{
    display: inline-block;
    margin-right: 36px;

    &:nth-child(1) a{
      background-position: -3px -3px;
    }
    &:nth-child(2) a{
      background-position: -5px -29px;
    }
    &:nth-child(3) a{
      background-position: -29px -1px;
    }   

    &:last-child{
      margin-right: 0;
    } 
  }  

  &__link{
    display: block;
    width: 20px;
    height: 20px;
    background: url("../images/sprite-all.png") no-repeat;

    &:hover{
      opacity: 0.5;
    }

  }
}