.text-page{

  margin: 0px 0px 80px 0px;

  &__header{
    margin: 0px 0px 40px 0px;
    text-align: center;
  } 

  h2{
    margin: 0px 0px 20px 0px;
    text-align: center;
  }

  h3{
    margin: 0px 0px 10px 0px;    
  }

  &__text{
    margin: 0px 0px 10px 0px;
    font-family: "ProximaNovaLight", sans-serif;
    font-size: 18px;
    line-height: 30px;  
    color: #999999; 
        
    &--is-last{
      margin: 0px 0px 40px 0px;      
    }
  } 

  &__list{
    margin: 0px 0px 40px 0px;
     
  }

  &__list-item{
    font-size: 18px;
    line-height: 30px;  
  }

  &__definitions{

  }

  &__image-block{
    margin: 40px 0px 40px 0px;
  }

}