.page-content{

  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 0px 0px 0px;
  margin: 0 auto;
  
  &--project-page{
    max-width: 960px;
  }

  &__navigation{

    padding: 0px 0px 42px 0px;
    text-align: center;
    color: #b2b2b2;

    @media screen and (min-width: $tablet-breakpoint){
      text-align: initial;
    }
  }

  &__projects{

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    padding: 0px 0px 20px 0px;

    @media screen and (min-width: $tablet-breakpoint){
      flex-direction: row;
      justify-content: space-between;

      padding: 0px 0px 60px 0px;
    }
  }


}